{% extends "layout.njk" %}

{% block content %}
<div class="container">
    <div class="titleCont">
        <h1 onClick="changeBG()">still : awake</h1>
    </div>

    <!-- <div class="postContainer">
    {% for post in collections.post %}
        <div class="post">
            <p><a href="{{ post.url | prefixedUrl }}">{{ post.data.title }}</a></p>
        </div>
    {% endfor %}
</div> -->

</div>

{% endblock %}