<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ 'style/style.css' | prefixedUrl }}">
    <link rel="stylesheet" href="{{ 'style/nav.css' | prefixedUrl }}">
    <link rel="stylesheet" href="{{ 'style/home.css' | prefixedUrl }}">
    <link rel="stylesheet" href="{{ 'style/post.css' | prefixedUrl }}">
  </head>
  <body>
    {% if tags == 'post' %}
      {% include 'nav.njk' %}
    {% endif %}
    
    <main class="{{ 'home' if tags == 'home'}}">
      {% block content%}
        {{ content | safe }}
      {% endblock %}
    </main>

    <!-- {% for post in collections.post %}
      <li><a href="{{ post.url | prefixedUrl }}">{{ post.data.title }}</a></li>
    {% endfor %} -->

    <!-- conditional to make the js load on just the home page
     if home or if tag =='home', src.-->
    {% if tags == 'home' %}
     <script src="/script/script.js"></script>
    {% endif %}
    
  </body>
</html>