<!--- pulls in content from our layout.njk layout ---> 
{% extends "layout.njk" %}
{% include "nav.njk" %}

<!-- block and endblock tags can be used when we want to inject custom code into our template -->
{% block content %}
  <article>
    <div class="pageContainer">
      <div class="left">
        <h2>{{ title }}</h2>
        <p>{{ date | readableDate}}</p>
        <p>mood: {{ mood }}</p>
        <h3>thoughts:</h3>
          <em>{{ content | safe }}</em>
      </div>

      <div class="right">
        <div class="postImgCont">
          {% if image %}
            {% set photoPath = image | replace('../','') %}
            <img src="{{ photoPath | prefixedUrl }}" class="postImg">
          {% endif %}
        </div>
      
        <div class="timeText">
          <p>time: {{ time }}</p>
        </div>
      </div>
      
    </div>
  </article>
{% endblock %}
