.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* keep h1 responsive */
.container h1 {
  font-size: 8vw;
  text-align: center;
}